<h1><center>Ricki DiCristoforo</center></h1>

<center>
<p>This is my website -STILL IN PROGRESS-</p>
<p>This is me, Ricki DiCristoforo</p>


<!--<a <strong><%= link_to 'Blog- index', "/posts#index" %></strong></a>-->
<!--<a <strong><%= link_to 'Blog- new', "/posts/new" %></strong></a>-->


</center>