<center>
<h2>About Ricki</h2>
<p>Ricki DiCristoforo is a senior at Tulane University, pursuing a degree in Computer Science and Linguistics with a minor in Spanish. She is an aspiring software developer with three years experience coding in a variety of languages such as Python, Java, C++, Ruby, and HTML.</p>

<h2>Experience</h2>
</center>

<div class= "content-body">
<p><strong>Programming Intern</strong></p>
<p class="under_title"><a href="https://chainlinkmarketing.com" target= "_blank">Chainlink Relationship Marketing</a>, October 2017 - Present</p>
<ul>
    <li>Work with Chainlink’s CTO on weekly development tasks for testing and improving their new proprietary SAAS platform, the Chainlink Marketing Platform</li>
    <li>Provide feedback on UI/UX and make recommendations for sources of improvement</li>
</ul>

<p><strong>Private Tutor</strong></p>
<p class="under_title"><a href="https://www.varsitytutors.com" target= "_blank">Varsity Tutors</a>, August 2017-Present</p>
<ul>
    <li>Private tutor through the Varsity Tutors online platform, catering to students of all ages elementary school through university</li>
    <li>Approved by Varsity to tutor students in 19 subjects pertaining to math, ACT preparation, computer science, and Spanish</li>
</ul>

<p><strong>Coding Counselor & Instructor</strong></p>
<p class="under_title"><a href="https://www.idtech.com" target= "_blank">iD Tech Camps</a>, June 2017-August 2017</p>
<ul>
    <li>Wrote curriculum for and taught weeklong courses in Java, Python, and C++</li>    
    <li>Supervised and coached a maximum of 8 students</li>
    <li>Mentored and guided each student in the completion of a final project in the language being taught that week</li>
</ul>

<p><strong>Teaching Assistant</strong></p>
<p class="under_title"><a href="http://www2.tulane.edu/sse/cs/" target= "_blank">Tulane University Dept. of Computer Science</a>, January 2017-May 2017</p>
<ul>
    <li>Assisted Professor with course related to the core topics of design, analysis, and implementation of computational skills including different paradigms of software development and their associated languages, with a main focus of shifting general knowledge of computer science into a specific set of skills that can be used to design, refine, and implement computational tools</li>    
    <li>Used my proficiency in the course material to assist students in completing their weekly labs, holding office hours four hours a week where the students come to ask questions and receive tutoring </li>
    <li>Used my knowledge and familiarity with the concepts in the labs and the languages they are coded in to grade weekly labs and programming projects in a fair and timely manner</li>
</ul>

<p><strong>IT&S Intern</strong></p>
<p class="under_title"><a href="http://www.ethosenergygroup.com" target= "_blank">EthosEnergy</a>, May 2016-August 2016</p>
<ul>
    <li>Catalogued and verified all inventory and data stored at the facility, utilizing Salesforce and Excel </li>    
    <li>Created a “how-to” guide for employees regarding; .PST files, PDF-Xchange, setting up and utilizing email accounts, and installing/uninstalling programs </li>
    <li>Edited the corporate website with stylistic changes, reformatted information and added links</li>
    <li>Directly assisted employees throughout the company with IT complaints and requests submitted through the online ticket system</li>
</ul>
 
 
 <div class= "volunteer">   
<center><h2>Volunteer Work</h2></center>

<p><strong>Website Designer</strong></p>
<p class="under_title"><a href="https://pyramidresources.wordpress.com" target= "_blank">Pyramid Resources Wellness Institute</a>, August 2017-December 2017</p>
<ul>
    <li>Worked with a local business to design a cohesive Wordpress website to suit their needs </li>    
    <li>Met with the client every two weeks to discuss modifications to website design</li>
</ul>

<p><strong>Tutor</strong></p>
<p class="under_title">Ruth U. Fertel/Tulane Community Health Center, August 2017-November 2017</p>
<ul>
    <li>Taught basic computer skills to senior citizens in the New Orleans community </li>    
    <li>Met once a week for an hour each session</li>
</ul>
</div>

</div>