<center>
<h1>About Me</h1>
<p>Ricki DiCristoforo is a senior at Tulane University, pursuing a degree in Computer Science and Linguistics with a minor in Spanish. She is an aspiring software developer with three years experience coding in a variety of languages such as Python, Java, C++, Ruby, and HTML.</p>
<p>I am an extremely hard worker with a passion for programming and experience coding in object oriented and functional programming languages. I am currently a senior at Tulane University, working towards a double major in computer science and linguistics with a minor in Spanish.</p>
<h2>Experience</h2>
</center>

<p><strong>Programming Intern</strong></p>
<p class="under_title"><a href="https://chainlinkmarketing.com">Chainlink Relationship Marketing</a>, October 2017 - Present</p>
<ul>
    <li>Work with Chainlink’s CTO on weekly development tasks for testing and improving their new proprietary SAAS platform, the Chainlink Marketing Platform</li>
    <li>Provide feedback on UI/UX and make recommendations for sources of improvement</li>
</ul>

<p><strong>Private Tutor</strong></p>
<p class="under_title"><a href="https://www.varsitytutors.com">Varsity Tutors</a>, August 2017-Present</p>
<ul>
    <li>Private tutor through the Varsity Tutors online platform, catering to students of all ages elementary school through university</li>
    <li>Approved by Varsity to tutor students in 19 subjects pertaining to math, ACT preparation, computer science, and Spanish</li>
</ul>

<p><strong>Coding Counselor & Instructor</strong></p>
<p class="under_title"><a href="https://www.idtech.com">iD Tech Camps</a>, June 2017-August 2017</p>
<ul>
    <li>Wrote curriculum for and taught weeklong courses in Java, Python, and C++</li>    
    <li>Supervised and coached a maximum of 8 students</li>
    <li>Mentored and guided each student in the completion of a final project in the language being taught that week</li>
</ul>
    
<h2>Volunteer Work</h2>
