<center><h1>Projects</h1></center>
    
<ul>
    <li>Ruby on Rails Projects</li>
    <ul>
        <li>This website, built 100% on Ruby on Rails</li>
        <ul>
            <li><a href = "https://github.com/rdicrist/ricki-dicristoforo" target= "_blank"> Github </a></li>
        </ul>
        <li>Extinguish</li>
        <ul>
            <li>A forum website dedicated to eradicating gaslighting in abusive relationships via a supportive online community</li>
            <li><a href = "https://extinguish.io" target= "_blank"> Website </a></li>
            <li><a href="https://github.com/SocialSupportNetwork/SocialSupportSystem" target= "_blank"> GitHub </a></li>
        </ul>
        
    </ul>
    
    <li>Graphics Projects</li>
    <ul>
        <li>Asteroids, the game, built using OpenGL libraries, XCode, and CMake</li>
        <ul>
            <li><a href="https://github.com/rdicrist/midterm-project" target= "_blank"> Github</a></li>
        </ul>
    </ul>
    
    <li>Java Projects</li>
    <ul>
        <li>An interactive river simulator</li>
        <ul>
            <li><a href="https://github.com/rdicrist/Interactive-River-Simulator" target= "_blank"> Github</a></li>
        </ul>
    </ul>
    
    <li>C++ Projects</li>
    <ul>
        <li>Set, the card game, with an automated solver</li>
        <ul>
           <li><a href="https://github.com/rdicrist/set-card-game-in-c-" target= "_blank"> Github</a></li> 
        </ul>
    </ul>
</ul>
