<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/header.scss">.

<header role="banner" class="app-header">
    <center>
  <div class="headerMenu"> 
    <a <strong><%= link_to 'Home', "/" %></strong></a>
    <a <strong><%= link_to 'About Me', "/about" %></strong></a>
    <a <strong><%= link_to 'Projects', "/projects" %></strong></a>
    <a <strong><%= link_to 'Contact Me', "/contact" %></strong></a>
  </div>
  </center>
</header>